body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items: center;
    height:600px;
    
}

.main-container{
width:480px;
height:480px;
border:2px solid;

}
.row{
 display:flex;
   
}
.square{
width:60px;
height:60px;
}

.black{
    background-color: burlywood;
}
.white{
    background-color:rgb(142, 117, 117);
    color:white;
}

i{
    font-size: 30px;
    color:black;
    margin-top:10px;
    margin-left:15px;
}

