.container{
    width:500px;
    height:500px;
    border:2px solid;
}
img{
    width:200px;
    display:none;
}
.tom:hover~ .main .img-1{
    display:block;
}
.jerry:hover~ .main .img-2{
    display:block;
}
.dog:hover~ .main .img-3{
display:block;
}


